ul(id='grid')
  li(class='grid-item' data-ng-repeat='card in cards' data-ng-click='flip(card)' data-ng-class='{active: isShown(card)}')
    span(class='card front')
    i(class='card back {{ card.icon }}')