html,
body,
div,
p,
ul,
figure {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial;
  font-size: 14px;
  background: #34495e; }

html,
body {
  width: 100%;
  height: 100%; }

#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10; }

#app-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 20px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#app-stage {
  position: absolute;
  top: 0;
  left: 250px;
  bottom: 0;
  right: 0;
  box-shadow: 5px 16px 23px -9px rgba(0, 0, 0, 0.5) inset;
  padding: 20px;
  overflow: auto; }

#app-icon {
  font-size: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #e74c3c;
  position: relative;
  height: 200px; }
  #app-icon:after {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 23px;
    color: inherit;
    font-family: Verdana;
    content: 'Angular Memory Game'; }

.btn {
  border: 0;
  display: inline-block;
  padding: 8px 14px;
  color: #fff;
  font-family: inherit;
  font-size: 17px;
  border-radius: 5px; }

.btn-emerald {
  background: #2ecc71; }

.horizontal-stretch {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#start-game {
  margin-top: 40px; }

#grid {
  list-style: none;
  width: 720px;
  margin: 0 auto; }
  #grid .grid-item {
    float: left;
    width: 90px;
    height: 90px;
    position: relative;
    margin: 10px;
    opacity: .6; }
    #grid .grid-item .card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: all linear .5s;
      box-shadow: 1px 4px 3px -2px rgba(0, 0, 0, 0.5);
      background: #3498db;
      border: 3px solid #fff; }
    #grid .grid-item .front:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 16px;
      margin-left: -25px;
      margin-top: -8px;
      text-align: center;
      content: 'AMG';
      color: #fff;
      font-size: 16px; }
    #grid .grid-item .back {
      transform: rotateY(180deg); }
    #grid .grid-item i[class*=" icon-"] {
      color: #fff;
      font-size: 50px;
      line-height: 96px;
      text-align: center; }
    #grid .grid-item.active {
      opacity: 1; }
      #grid .grid-item.active .front {
        transform: rotateY(180deg); }
      #grid .grid-item.active .back {
        transform: rotateY(0deg) scale(1.08); }

#num-moves {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #e74c3c;
  color: #fff;
  font-size: 24px;
  font-family: Georgia;
  line-height: 24px;
  padding: 4px 12px 10px; }
